<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <connectionStrings>
    <add name="CICDBContext" connectionString="Server=NTB-118;Database=Order Project;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Set to your Google project id as shown on the Google Developers Console -->
    <add key="Gryffindor:ProjectId" value="YOUR-PROJECT-ID" />
    <!--
    Set to either mysql, sqlserver or datastore.
    If using mysql or sqlserver, update the connectionString far below, and then run Add-Migration Init; Update-Database 
    in the Package Manager Console.
    -->
    <add key="Gryffindor:Gryffindor" value="sqlserver" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>